<div class="container">
    <div class="row gx-0 justify-content-between align-items-center">
        <div class="col-4">
            <img class="img-fluid w-100" [src]="imgPrefix+movieDetials.poster_path" alt="">

        </div>
        <div class="col-6 align-content-center align-items-center">
            <h2 class="title pb-3">
                {{movieDetials.original_title|uppercase}}
            </h2>  
            <p class="descr pb-3">
                {{movieDetials.overview}}
            </p>
            
            <p class="descr pb-1 mb-1">
                vote count  :  {{movieDetials.vote_count}}
            </p>
            <p class="d-flex">votes : <app-vote-chart class=" rate" [voteCount]="movieDetials.vote_average"
                [maxVotes]="10"></app-vote-chart></p>
        </div>
    </div>
</div>