#navsTop {
    top: 0;
    width: 100%;
    background-color: unset ;
    transition: background-color 0.3s ease;
    z-index: 999;

    a {
        color: white;
        font-size: 18px;
        font-weight: bold;
    }
}

.scrolled {
    position: fixed;
    background-color: rgba(250, 250, 250, 0.7) !important; /* Change to your desired background color */
    a {
        color: black !important;
        font-size: 18px;
        font-weight: bold;
    }
}
