/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    text-align: unset !important;
}
body{
/*     background-image: url(assets/imges/Pana.png);
 */
background-color: black;
 background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
a {
    text-decoration: unset !important;
    color: unset;
}
.slider {
    .owl-carousel {
        .owl-stage-outer{
            overflow: visible;
        }
        .owl-item {
            opacity: 0;
        }
        .active {
            box-shadow: 6px 20px 47px black;
         
            transform: skew(10deg) scale(0.9);
            opacity: 0.7;
            transition: all 0.5s ease-in;

            img {
                overflow: hidden;
            object-fit: fill;

            }
        }
        .center {
            opacity: 1;
            transform: scale(1.2);
        }
    }
}
