<app-main-slider></app-main-slider>
<div class="container">
    <div class="row gx-0 justify-content-center ">
        <div *ngFor="let move of tandingMove" class="col-lg-3 col-md-4 col-6 data ">
            <a [routerLink]='["/moveDetails",move.id]'>
                <h2 class="title">
                    {{move.title|uppercase}}
                </h2>
                <img class="img-fluid w-100" [src]="imgPrefix+move.poster_path" alt="">
                <p class="descr">
                    {{move.overview}}
                </p>
                <app-vote-chart class=" rate" [voteCount]="move.vote_average"
                    [maxVotes]="10">{{move.vote_average}}</app-vote-chart>
            </a>
        </div>
        <div class="col-12 mx-auto d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item" aria-current="page">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</div>